*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: "微软雅黑";
}
/*头部*/
#head{
	width: 100%;
	height: 85px;
	background-image: url(../image/navbg.jpg);
}
.logo{
	position: absolute;
	left: 60px;
}
ul{
	background-repeat: repeat-x;
	height: 40px;
	float: right;
	margin-top: 40px;
}
ul li{
	font-weight: bold;
	display: inline;
}
ul li a:link{
	color: white;
	text-decoration: none;
}
ul li a:hover{
	color: red;
}
ul li a:visited{
	color: white;
}
/*内容*/
#content{
	width: 96.7%;
	background-color: #ff9;
	border-left: 20px solid #400;
	border-right: 25px solid #400;
}
.txt{
	font-weight: bold;
	color: #400;
	text-align: center;
}
table{
	padding-top: 20px;
}
.weizhi{
	padding-left: 30px;
}
.weizhi img:hover{
	opacity: 0.5;
}